@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #fff;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 0.625rem 0; 
  border-bottom: 0.125rem solid #9104ad; 
  animation: slideTop 1s ease forwards;
  animation-delay: calc(.2s * var(--i));
}

.hero {
  height: auto;
  background: url(./images/adminpg.jpg) no-repeat center; 
  background-size: cover; 
  max-width: 100%;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  margin: 0 1.25rem; 
}

nav ul li a {
  font-size: 0.9375rem; 
  font-weight: 800;
  color: #9104ad;
  text-transform: uppercase;
}

nav ul li a:hover {
  border-bottom: 0.125rem solid #9104ad; 
}

nav button {
  height: 2.8125rem; 
  background: #9104ad;
  border: 0;
  border-radius: 0.3125rem; 
  color: #fff;
  font-size: 0.9375rem; 
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 0.625rem; 
  padding: 0 0.625rem; 
}

nav button:hover {
  filter: brightness(85%);
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 1s;
}

.home-content h2 {
  font-size: 2.5rem; 
  color: #9104ad;
  text-transform: uppercase;
  font-weight: 800;
  max-width: 39.375rem; 
  animation: slideBottom 1s ease forwards;
  animation-delay: 1s;
  opacity: 0;
}

p {
  color: #9104ad;
  font-size: 0.6875rem; 
  margin-top: 0.625rem; 
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 1s;
}


@keyframes slideTop {
  0% {
    transform: translateY(-6.25rem); 
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-6.25rem); 
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #fff;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 0.625rem 0; 
  border-bottom: 0.125rem solid #9104ad; 
  animation: slideTop 1s ease forwards;
  animation-delay: calc(.2s * var(--i));
}

.hero {
  height: 100vh;
  background: url(./images/adminpg.jpg) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
}


nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  margin: 0 1.25rem; 
}

nav ul li a {
  font-size: 0.9375rem; 
  font-weight: 800;
  color: #9104ad;
  text-transform: uppercase;
}

nav ul li a:hover {
  border-bottom: 0.125rem solid #9104ad; 
}

nav button {
  height: 2.8125rem; 
  background: #9104ad;
  border: 0;
  border-radius: 0.3125rem; 
  color: #fff;
  font-size: 0.9375rem; 
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 0.625rem; 
  padding: 0 0.625rem; 
}

nav button:hover {
  filter: brightness(85%);
}

.home {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 1s;
}

.home-content h2 {
  font-size: 2.5rem; 
  color: purple;
  text-transform: uppercase;
  font-weight: 800;
  max-width: 39.375rem; 
  animation: slideBottom 1s ease forwards;
  animation-delay: 1s;
  opacity: 0;
}

p {
  color: purple;
  font-size: 0.6875rem; 
  margin-top: 0.625rem; 
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 1s;
}


@keyframes slideTop {
  0% {
    transform: translateY(-6.25rem); 
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-6.25rem); 
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
